<!DOCTYPE html>
<html>
<head>
<title>Pomodoro en guete</title>
<meta charset="UTF-8">

<link href="/lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

<link href="/lib/font-awesome-4.4.0/css/font-awesome.min.css"
	rel="stylesheet">
<link href="/info/css/infoview.css" rel="stylesheet">

<script src="/lib/jquery-2.1.4/jquery-2.1.4.min.js"></script>
<script src="/lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/lib/angular-1.4/angular.min.js"></script>
<script src="/lib/angular-1.4/angular-filter.min.js"></script>
<script src="/lib/angular-1.4/angular-route.min.js"></script>
<script src="/lib/angular-1.4/angular-resource.min.js"></script>
<script src="/lib/angular-1.4/ng-websocket.js"></script>
<script src="/lib/angular-1.4/angular-timer-all.min.js"></script>


<script src="/info/js/pomodoro.modul.js"></script>
<script src="/info/js/pomodoro-websocket.factory.js"></script>
<script src="/info/js/pomodoro.controller.js"></script>
<script src="/info/js/pomodoro.service.js"></script>
<script src="/info/js/pomodoro.seconds-to-time.filter.js"></script>
<script src="/info/js/pomodoro.run.js"></script>
</head>

<body ng-app="pomodoro" ng-controller="pomodoroController as vm">
	<div class="container">
		<h1>Biggest Tomato</h1>
		<div ng-repeat="tomato in vm.biggestTomato" class="container-fluid jumbotron">
			<div class="col-md-4 infoview-font-normal">
				<i class="fa fa-user infoview-font-normal"></i>
				{{tomato.userNr}}
			</div>
			<div class="col-md-4 infoview-font-normal">{{tomato.name}}</div>
			<div class="col-md-4 infoview-font-normal"><i class="fa fa-clock-o"></i> {{tomato.totalTime | secondsToDateTime | date:'HH:mm:ss'}}</div>
			<!--  <div>{{tomato}}</div> -->
		</div>


		<h1>Angemeldete Tomaten</h1>

		<div ng-repeat="(key, value) in vm.users | groupBy :'group.name'"
			class="container-fluid jumbotron">
			<h3>{{key}}</h3>
			<hr>
			<div class="row" ng-repeat="user in value">
				<div class="col-md-1">
					<img
						ng-src="/info/icons/tomato_{{user.state === 'ONLINE' ? 'green' : 'red'}}.png"
						alt="Description" width="50px" />
				</div>
				<div class="col-md-4 infoview-font-normal">
					<i class="fa fa-user infoview-font-normal"></i> {{user.nr}}
				</div>
				<div class="col-md-4 infoview-font-normal">{{user.name}}</div>
				<timer class="col-md-2 infoview-font-normal" interval="1000" ng-attr-end-time="user.state !== 'BUSY' ? 10 : 0" ng-attr-countdown="user.remainingTime">
					<i class="fa fa-clock-o"></i> {{hhours}}:{{mminutes}}:{{sseconds}}</timer>
			</div>

		</div>
	</div>


</body>
</html>